.instagram {
	text-align: center;

	&__title {
		padding-top: 30px;
		font-size: 16px;
		@include font700;
		margin-bottom: 40px;
		color: $title;
		text-transform: uppercase;
	}

	&__row {
		overflow: auto;
		display: flex;
		img {
			display: block;
			width: 187px;
			height: 187px;
			object-fit: cover;
			margin-right: 3px;
			&
			:last-child {
				margin-right: 0;
			}
		}
	}
}
