.page {
	margin-top: 90px;

	&__inner {
		padding-top: 30px;
	}

	&__item {
		margin-bottom: 60px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;

		@media(max-width: 1200px) {
			display: block;
		}
	}

	&__content {
		flex: 1 1 auto;
		margin-right: 30px;

		@media(max-width: 1200px) {
			margin-right: 0;
		}
	}

	&__aside {
		flex: 0 0 270px;
		min-height: 0;
	}

	&__box {
		display: flex;
		flex-wrap: wrap;
		margin-left: -30px;
		margin-bottom: 30px;

		@media(max-width: 1200px) {
			justify-content: space-around;
		}
	}
}

.item-page {
	display: flex;

	@media(max-width: 768px) {
		display: block;
	}

	&__image {
		display: block;
		flex: 1 1 auto;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		@media(max-width: 768px) {
			height: 300px;
		}

		@media(max-width: 576px) {
			height: 230px;
		}
	}

	&__content {
		flex: 0 0 300px;
		padding: 80px 30px;
		background-color: #fff;

		@media(max-width: 768px) {
			padding: 30px;
		}

		@media(max-width: 576px) {
			padding: 25px 20px;
		}
	}

	&--small {
		flex-direction: column;
		width: 270px;
		margin-bottom: 30px;
		margin-left: 30px;

		.item-page {

			&__image {
				flex: 0 0 185px;
				width: 270px;
				height: 185px;
			}

			&__content {
				flex: 1 1 auto;
				padding: 25px 20px;
			}
		}

		.content-item {
			&__user {
				font-size: 12px;
			}
		}
	}

	&--long {
		flex: 1 1 auto;
		flex-direction: column;
		margin-left: 30px;
		margin-bottom: 30px;

		.item-page {
			&__image {
				height: 420px;

				@media(max-width: 576px) {
					height: 230px;
				}
			}

			&__content {
				flex: 1 1 auto;
				padding: 25px 20px;
			}
		}

		.content-item {
			&__text {
				max-width: 615px;
			}
		}
	}
}

.content-item {
	display: flex;
	flex-direction: column;

	&__header {
		line-height: 26px;
		color: $title;
		@include font700;
		margin-bottom: 20px;
	}

	&__title,
	&__subtitle {
		display: block;
		transition: all 0.3s;

		@media (min-width: 768px) {
			&:hover {
				color: $text;
			}
		}
	}

	&__title {
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	&__subtitle {
		font-size: 16px;
	}

	&__body {
		flex: 1 1 auto;
		margin-bottom: 25px;

		p {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__text {
		line-height: 24px;
	}

	&__footer {}

	&__user {
		@include font700;
		line-height: 24px;
	}

	&__btn {
		margin-top: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 230px;
		height: 50px;
		@include font700;
		color: #fff;
		background-color: $title;
		transition: all 0.3s;

		&:hover,
		&:focus {
			box-shadow: inset 1px 1px 3px $text, 1px 1px 3px $text;
		}
	}
}

.aside {
	&__inner {
		background-color: #fff;
		padding: 0 20px 25px;
	}

	&__box {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__title {
		cursor: pointer;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 20px;
		color: $title;
		@include font700;
		margin-bottom: 15px;
		padding: 10px 0;
		transition: all 0.3s;

		@media (min-width: 768px) {
			&:hover {
				box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.08);
			}
		}
	}

	&__block {
		// display: none;
	}
}

.author {
	padding: 30px 0 15px;

	@media(max-width: 1200px) {
		text-align: center;
	}

	&__link {
		display: inline-flex;
		align-items: center;
		margin-bottom: 25px;

		img {
			display: block;
			width: 90px;
			height: 90px;
			object-fit: cover;
			border-radius: 50%;
			margin-right: 15px;
		}
	}

	&__info {}

	&__name {
		font-size: 16px;
		line-height: 20px;
		@include font700;
		color: $title;
		margin-bottom: 10px;
	}

	&__job {}

	&__text {
		font-size: 15px;
		line-height: 25px;
		margin-bottom: 15px;
	}

	&__footer {
		padding-top: 15px;
		border-top: 1px solid #E5E5E5;
		display: flex;
		align-items: center;

		@media(max-width: 1200px) {
			justify-content: center;
		}
	}

	&__label {
		font-size: 12px;
		line-height: 15px;
		margin-right: 28px;

		@media(max-width: 576px) {
			margin-right: 10px;
		}
	}

	&__social {
		display: flex;
	}

	&__social-link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 33px;
		height: 33px;
		border: 1px solid #E5E5E5;
		margin-right: 6px;
		transition: all 0.3s;

		@media(max-width: 576px) {
			width: 44px;
			height: 44px;
		}

		&:last-child {
			margin-right: 0;
		}

		@media (min-width: 768px) {
			&:hover {
				box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.08);
			}
		}
	}
}

.popular {

	&__item {
		margin-bottom: 50px;

		&:last-child {
			margin-bottom: 0;
		}

		@media(max-width: 1200px) {
			display: flex;
			align-items: center;
		}

		@media(max-width: 576px) {
			display: block;
		}
	}

	&__image {
		display: block;
		@media(max-width: 1200px) {
			flex: 0 0 230px;
		}

		img {
			max-width: 100%;
			height: 150px;
		}

		@media(max-width: 1200px) {
			margin-right: 30px;
		}
	}

	&__title {
		font-size: 16px;
		line-height: 26px;
		padding: 10px 0;
	}
}

.categories {

	&__btn {
		border-bottom: 1px solid #e5e5e5;
	}

	&__label {
		cursor: pointer;
		display: block;
		padding: 20px 0 5px 15px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			bottom: 10px;
			left: 0;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			border: 1px solid #979797;
			background-color: transparent;
		}

		&:hover {
			box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.08);
		}
	}

	&__input {
		display: none;

		&:checked+.categories__label::before {
			background-color: #c4c4c4;
		}
	}

	&__name {}
}

.comments {
	&__link {
		display: block;
		margin-bottom: 20px;
		line-height: 24px;
		transition: all 0.3s;

		&:last-child {
			margin-bottom: 0;
		}

		span {
			color: $title;
			@include font700;

		}

		&:hover {
			box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
		}
	}
}

.tegs {
	&__link {
		padding: 10px 12px;
		font-size: 12px;
		line-height: 15px;
		background-color: #f5f5f5;
		margin-right: 10px;
		margin-bottom: 10px;
		transition: all 0.3s;

		&:hover {
			box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.08);
		}
	}
}